mat-form-field {
    width: 100%;
}

mat-card-content form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.stepButtonContainer {
    display: flex;
    justify-content: space-between;
}

mat-chip-list {
    display: block;
    margin-bottom: 16px;
    margin: 16px auto 16px, auto;
}

label {
    display: block;
    margin: 16px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

.unselectedFeeling {
    background: darkgrey !important;
}