<mat-toolbar color="primary" class="header mat-elevation-z5">
    <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon color="accent" aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <h1 class="mat-display-4">When You Feel...</h1>
  <span style="visibility: hidden"></span>
  <div class="nav-links">
    <button mat-flat-button color="accent">These don't</button>
    <button mat-flat-button color="accent">do anything</button>
    <button mat-flat-button color="accent">quite yet</button>
  </div>
</mat-toolbar>
